ul,li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.chat-title {
    font-size: 1.5em;
    color: black;
}
.chat-content{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.input-item{
    height: 100%;
    width: 100%;
}
.button-send{
    width: 100%;
    height: 100%;
    color: white;
    background-color: #4cd964;
}
.chat_right_h4 {
    text-align: center;
    color: white;
}
.list-group>ul li{
    list-style: none;
    color: orangered;
}
.my-content{
    border: 1px solid #da2325;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: rgba(192, 239, 208,1);
}
.input-father {
    display: flex;
}
.input-say {
    width: 75%;
}
.chat-button {
    width: 25%;
}
.user-my {
    text-align: right;
}
.user-my .user-name {
    color: blue;
}
.user-my .user-content {
    background-color: rgba(0,253,253,0.45);
}
.chat-li {
    margin: 20px;
}
.user-name {
    color: red;
    margin-bottom: 5px;
}
.user-content {
    background-color: rgba(241,78,0,0.45);
    border-radius: 5px;
    padding: 0.5rem;
    text-align: left;
    display: inline-block;
    line-height: normal;
}
.line-user {
    color: #ece708;
}
.chat-notice {
    color: red;
}