ul,li{
    margin: 0;
    padding: 0;
}
* {
    touch-action: none;
}
.p_intro{
    font-size: 0.7rem;
    color: black;
}
.index-sidebar{
    width: 100%;
    height: 100%;
    text-align: center;
}
.index-container {
    height: 100%;
}
.index-sidebar h3{
    color: #b0cc21;
}
#logout{
    width: 100%;
    font-size: 1rem;
    height: 1.75rem;
    line-height: 1.75rem;
}
.index-sidebar-content{
    height: 430px;
    line-height: 430px;
    width: 100%;
}
.like {
    font-size:18px;
    color:#ccc;
    cursor:pointer;
}
.already-like {
    color: #f00;
}
.more-card {
    margin-bottom: 2rem;
}
.time-color {
    font-size: 0.5rem;
}
.comment-username {
    color: #43CD80;
    font-size: 1rem;
    margin-left: 0.7rem;
}
.comment-content {
    font-size: 0.65rem !important;
    color: #1c1d1f !important;
    margin-top: 0.2rem;
    margin-left: 0.7rem;
}
.comment-send {
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: 1.75rem;
    background-color: white;
    justify-content: center;
}
.send-button {
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment-button {
    background: 0 0;
    padding: 12px;
    font-size: 20px;
    border-radius: 5px;
}
.send-textarea {
    width: 75%;
    margin-left: 0.75rem;
}
.comment-textarea {
    border: solid 1px #43CD80;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
.page-bottom {
    font-size: 0.5rem;
    color: #A1A1A1;
    width: 100%;
    text-align: center;
    line-height: 2rem;
}
.login-label {
    width: 25% !important;
}
.comment {
    width: 100%;
    height: 100%;
}
.comment-list-div {
    margin-bottom: 0;
}
.index-function {
    top: .35rem !important;
}
.index-nav-a {
    height: 2rem !important;
}
.index-desc {
    height: 100%;
    line-height: normal;
}