ul,li{
    margin: 0;
    padding: 0;
}
.at-once {
    width: 100%;
}
.facebook-date {
    font-weight: bold;
    color: #c7254e;
}
.prize,.look-prize {
    width: 100%;
}
.seckill-time {
    color: red;
    font-weight: 700;
}